<app-header></app-header>
<body>
  <section id="hero">
    <h4>Trade-in-offer</h4>
    <h2>Super value deals</h2>
    <h1>On all products</h1>
    <p>Save more with coupons $ up to 70% off!</p>
    <button>
      Shop now<img class="img1" src="../../../assets/images/patita.png" />
    </button>
  </section>

  <section id="feature" class="section-p1">
    <div class="fe-box">
        <img src="../../../assets/images//features/f1.png" alt="feature">
        <h6>Free shipping</h6>
    </div>
  </section>
</body>
