body{
    width: 100%;
    font-family: 'Sora', sans-serif;
}


.logo{
    min-width:80px;
    max-width:100px;
}

#header{
    display: flex;
    align-items:center;
    justify-content:space-between; 
    padding:20px 80px;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top:0;
    left: 0;
}

#navbar{
    display:flex;
    align-items:center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding:0 20px;
    position:relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight:600;
    color: rgb(0, 0, 0);
    transition:0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color:rgb(79, 80, 80);
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height:2px;
    background: rgb(88, 85, 85);
    position: absolute;
    bottom:-4px;
    left:20px;
}

i{
    font-size: 20px;
}
