<body>
  <section id="header">
    <a href="#">
        <img src="../../../assets/images/Chucchinoweb2.ico" class="logo" alt="logo"/></a>

        <section>
            <ul id="navbar">
                <li><a class="active" routerLink="/home">Home</a></li>
                <li><a routerLink="/shop">Shop</a></li>
                <li><a href="#home">Blog</a></li>
                <li><a href="#home">About</a></li>
                <li><a href="#home">Contact</a></li>
                <li><a href="#cart"><i class="bi bi-cart"></i></a></li>
            </ul>
        </section>

  </section>

 
</body>
